<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDbDnbOxj0Hp7FZwlegMdz7jpiR4m0j1k</string>
	<key>GCM_SENDER_ID</key>
	<string>432512488540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demo1</string>
	<key>PROJECT_ID</key>
	<string>chatapptute-3a9ad</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapptute-3a9ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432512488540:ios:86ca14ddea8709ca11c299</string>
</dict>
</plist>